{{ define "content" }}
<script src="static/js/newcontest.js"></script>
<script>
    const newContest = {
        start: "",
        startoffset: "",
        stop: "",
        stopoffset: "",
        outcomes: [],
        games: [],
        venue: {
            _id: "",
            address: "",
            lat: "",
            lng: ""
        }
    };

    deleteContestFromLocalStorage();
    saveContestToLocalStorage(newContest);

    let startDateSync, startTimeSync = false;
    let endDateSync, endTimeSync = false;

</script>

{{ if  .User.Email }}
<div id="user-info">

    <p>Contest: , {{ .User }}</p>

</div>
{{ end }}


<div class="container mt-5">
    <div class="">
        <div class="">
            <div class="row s5">
                <div class="col input-field">
                    <label for="start_date" class="flex-grow  block font-medium text-sm text-gray-700 mb-1">Start
                        Date</label>

                    <input id="start_date" type="text" class="datepicker">
                </div>
                <div class="col input-field">
                    <label for="start_time" class="flex-grow  block font-medium text-sm text-gray-700 mb-1">Start
                        Time</label>
                    <input id="start_time" type="text" class="timepicker">
                </div>

            </div>
            <div class="row s5">
                <div class="col input-field">
                    <label for="end_date" class="flex-grow  block font-medium text-sm text-gray-700 mb-1">End
                        Date</label>

                    <input id="end_date" type="text" class="datepicker">
                </div>
                <div class="col input-field">
                    <label for="end_time" class="flex-grow  block font-medium text-sm text-gray-700 mb-1">End
                        Time</label>
                    <input id="end_time" type="text" class="timepicker">
                </div>

            </div>

        </div>
    </div>
</div>

<div class="container mt-5">

    <div class="row">
        <div class="col s3">
            <div class="input-field">
                <label for="game_search" class="flex-grow  block font-medium text-sm text-gray-700 mb-1">Find
                    Game</label>
                <input name="game_search" type="text" id="game_search" hx-post="/game/search"
                       hx-trigger="keyup changed delay:500ms" hx-target="#game_select_list_data">

            </div>
        </div>
        <div class="col s7">

            <div class="table-wrapper">
                <div id="selected-data">
                    (selected games)
                </div>
                <button class=" waves-effect waves-light btn-extra-small" id="clear_game_storage">reset
                </button>
                <button class=" waves-effect waves-light btn-extra-small" id="lock_game_storage">lock
                </button>

            </div>
        </div>

    </div>

    <div class="row">
        <div class="col s10">
            <div class="scrollable-table">
                <table id="game_select_list" class="highlight striped responsive-table" style="display:none;">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Year</th>
                        <th>BGGID</th>
                    </tr>
                    </thead>
                    <tbody id="game_select_list_data">

                    </tbody>
                </table>
            </div>
        </div>


    </div>


</div>


<script>
    document.addEventListener('htmx:afterOnLoad', function (event) {
        var elems = document.querySelectorAll('select');
        M.FormSelect.init(elems);
    });

    const yesterday = new Date();
    yesterday.setDate(yesterday.getDate() - 1);
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.datepicker');
        var instances = M.Datepicker.init(elems, {
            autoClose: true,
            format: 'yyyy-mm-dd',
            //defaultDate: Date.now(),
            //setDefaultDate: true,
            minDate: null,
            maxDate: null
        });

        // Get the instances for each datepicker
        var start_date = M.Datepicker.getInstance(elems[0]);
        var end_date = M.Datepicker.getInstance(elems[1]);


        // Initialize the timepicker
        var timeElems = document.querySelectorAll('.timepicker');
        var timeInstances = M.Timepicker.init(timeElems, {
            twelveHour: false,
            autoClose: true
        });
        var start_time = M.Timepicker.getInstance(elems[0]);
        var end_time = M.Timepicker.getInstance(elems[1]);
    });
    document.querySelector('#start_date').addEventListener('change', function () {
        startDateSync = true;
        var selectedDate = this.value;

        if (startTimeSync && startDateSync) {
            helper_updateStart(selectedDate + ' ' + document.querySelector('#start_time').value)
        }

    });
    document.querySelector('#start_time').addEventListener('change', function () {
        var selectedTime = this.value;
        startTimeSync = true;


        if (startDateSync && startTimeSync) {
            helper_updateStart(document.querySelector('#start_date').value + ' ' + selectedTime)
        }
    });
    document.querySelector('#end_date').addEventListener('change', function () {
        endDateSync = true;
        var selectedDate = this.value;

        if (endTimeSync && endDateSync) {
            helper_updateEnd(selectedDate + ' ' + document.querySelector('#end_time').value)
        }

    });
    document.querySelector('#end_time').addEventListener('change', function () {
        var selectedTime = this.value;
        endTimeSync = true;

        console.log('start_date selected date:', selectedTime);
        if (endDateSync && endTimeSync) {
            helper_updateEnd(document.querySelector('#end_date').value + ' ' + selectedTime)
        }
    });

    function helper_updateStart(dateTimeString) {
        const contestData = getContestFromLocalStorage();

        var dateTime = new Date(dateTimeString);
        //figure out offset
        contestData.startoffset = getISOOffsetString(dateTime);
        contestData.start = dateTime.toISOString();

        updateContestInLocalStorage(contestData);

    }

    function helper_updateEnd(dateTimeString) {
        const contestData = getContestFromLocalStorage();

        var dateTime = new Date(dateTimeString);
        //figure out offset
        contestData.stopoffset = getISOOffsetString(dateTime);
        contestData.stop = dateTime.toISOString();

        updateContestInLocalStorage(contestData);

    }

    document.querySelector('#game_select_list').addEventListener('click', function (e) {
        const gameObj = {};
        if (e.target && e.target.nodeName === "TD") {
            const selectedDataContainer = document.getElementById('selected-data');
            const tr = e.target.closest('tr');


            // Get all table data cells (<td>) within the selected row
            const cells = tr.querySelectorAll('td');
            gameObj.name = cells[0].textContent;
            gameObj.year_published = parseInt(cells[1].textContent);
            gameObj.bgg_id = parseInt(cells[2].textContent);


            addGameToLocalStorage(gameObj)

            let listContent = "";
            for (const object of getContestFromLocalStorage().games) {
                // Access properties of each object
                const year = object.year_published;
                const name = object.name;
                const bgg_id = object.bgg_id;

                // Build the list item HTML (you can customize this)
                listContent += `-${name} (${year})<br>`;
            }

            selectedDataContainer.innerHTML = listContent;
        }

    })
    ;
    document.getElementById("clear_game_storage").addEventListener("click", function () {

        deleteGamesFromLocalStorage();
        document.getElementById('selected-data').innerHTML = getContestFromLocalStorage().games;
    });
    document.getElementById("lock_game_storage").addEventListener("click", function () {
        game_select_table = document.querySelector('#game_select_list')
        game_select_table.style.display = "none";
    });
    document.getElementById("game_search").addEventListener("click", function () {
        game_select_table = document.querySelector('#game_select_list')
        game_select_table.style.display = "inline";
    });


</script>

{{ end }}

{{ template "layout.html" . }}