{{ define "content" }}
<script src="static/js/newcontest.js"></script>

<script>

    const newContest = {
        start: "",
        startoffset: "",
        stop: "",
        stopoffset: "",
        outcomes: [],
        games: [],
        venue: {
            _id: "",
            address: "",
            lat: "",
            lng: ""
        }
    };

    deleteContestFromLocalStorage();
    saveContestToLocalStorage(newContest);

    let startDateSync, startTimeSync = false;
    let endDateSync, endTimeSync = false;

</script>

{{ if  .User.Email }}
<div id="user-info">

    <p>Contest: , {{ .User }}</p>

</div>
{{ end }}


<div class="container mt-5">
    <h5>Set Time of Contest</h5>
    <div class="row s5">
        <div class="col input-field">
            <label for="start_date" class="flex-grow  block font-medium text-sm text-gray-700 mb-1">Start
                Date</label>

            <input id="start_date" type="text" class="datepicker">
        </div>
        <div class="col input-field">
            <label for="start_time" class="flex-grow  block font-medium text-sm text-gray-700 mb-1">Start
                Time</label>
            <input id="start_time" type="text" class="timepicker">
        </div>

    </div>
    <div class="row s5">
        <div class="col input-field">
            <label for="end_date" class="flex-grow  block font-medium text-sm text-gray-700 mb-1">End
                Date</label>

            <input id="end_date" type="text" class="datepicker">
        </div>
        <div class="col input-field">
            <label for="end_time" class="flex-grow  block font-medium text-sm text-gray-700 mb-1">End
                Time</label>
            <input id="end_time" type="text" class="timepicker">
        </div>

    </div>

</div>


<div class="container mt-5">
    <h5>Select games played (multiple for expansions)</h5>
    <div class="row">
        <div class="col s3">
            <div class="input-field">
                <label for="game_search" class="flex-grow  block font-medium text-sm text-gray-700 mb-1">Find
                    Game</label>
                <input name="game_search" type="text" id="game_search" hx-post="/game/search"
                       hx-trigger="keyup changed delay:500ms" hx-target="#game_select_list_data">

            </div>
        </div>
        <div class="col s7">

            <div class="table-wrapper">
                <div id="selected-data">
                    (selected games)
                </div>
                <button class=" waves-effect waves-light btn-extra-small" id="clear_game_storage">reset
                </button>
                <button class=" waves-effect waves-light btn-extra-small" id="lock_game_storage">lock
                </button>

            </div>
        </div>

    </div>

    <div class="row">

        <table id="game_select_list" class=" col  highlight striped "
               style="display:none;height: 300px;width: 500px; overflow-x: scroll; overflow-y: scroll; ">
            <thead>
            <tr>
                <th>Name</th>
                <th>Year</th>
                <th>BGGID</th>
            </tr>
            </thead>
            <tbody id="game_select_list_data">

            </tbody>
        </table>


    </div>


</div>
<div class="container mt-5">
    <h5>Where is the contest?</h5>

    <div class="row">
        <div class="col s3">
            <div class="input-field">
                <label for="venue_search" class="flex-grow  block font-medium text-sm text-gray-700 mb-1">Find
                    Venue</label>
                <input name="venue_search" type="text" id="venue_search" hx-post="/venue/search"
                       hx-trigger="keyup changed delay:1000ms" hx-target="#venue_select_list_data">

            </div>
        </div>
        <div class="col s7">

            <div class="table-wrapper">
                <div id="venue_selected_data">

                </div>
                <button class=" waves-effect waves-light btn-extra-small" id="lock_venue_storage">lock
                </button>

            </div>
        </div>

    </div>
    <div class="row">

        <table id="venue_select_list" class=" col  highlight striped "
               style="display:none;height: 300px;width: 500px; overflow-x: scroll; overflow-y: scroll; ">
            <thead>
            <tr>
                <th>Address</th>
            </tr>
            </thead>
            <tbody id="venue_select_list_data">

            </tbody>
        </table>


    </div>


</div>

<div class="container mt-5">
    <h5>What is the outcome?</h5>
    <div class="row">
        <div id="outcome_popup" class="outcome_popup"></div>
        <div id="outcome_table_div" class="col s8">

        </div>
        <div class="col s2">

            <div class="input-field">

                <select id="num_players">
                </select>
                <label for="num_players" class="flex-grow  block font-medium text-sm text-gray-700 mb-1">
                    #players</label>

            </div>
        </div>

    </div>

</div>

<script>


    document.addEventListener('htmx:afterOnLoad', function (event) {
        var elems = document.querySelectorAll('select');
        M.FormSelect.init(elems);

    });


    //DATES
    const yesterday = new Date();
    yesterday.setDate(yesterday.getDate() - 1);
    document.addEventListener('DOMContentLoaded', function () {
        M.AutoInit();

        var elems = document.querySelectorAll('.datepicker');
        var instances = M.Datepicker.init(elems, {
            autoClose: true,
            format: 'yyyy-mm-dd',
            //defaultDate: Date.now(),
            //setDefaultDate: true,
            minDate: null,
            maxDate: null
        });

        // Get the instances for each datepicker
        var start_date = M.Datepicker.getInstance(elems[0]);
        var end_date = M.Datepicker.getInstance(elems[1]);


        // Initialize the timepicker
        var timeElems = document.querySelectorAll('.timepicker');
        var timeInstances = M.Timepicker.init(timeElems, {
            twelveHour: false,
            autoClose: true
        });
        var start_time = M.Timepicker.getInstance(elems[0]);
        var end_time = M.Timepicker.getInstance(elems[1]);
    });
    document.querySelector('#start_date').addEventListener('change', function () {
        startDateSync = true;
        let selectedDate = this.value;

        if (startTimeSync && startDateSync) {
            helper_updateStart(selectedDate + ' ' + document.querySelector('#start_time').value)
        }

    });
    document.querySelector('#start_time').addEventListener('change', function () {
        var selectedTime = this.value;
        startTimeSync = true;


        if (startDateSync && startTimeSync) {
            helper_updateStart(document.querySelector('#start_date').value + ' ' + selectedTime)
        }
    });
    document.querySelector('#end_date').addEventListener('change', function () {
        endDateSync = true;
        var selectedDate = this.value;

        if (endTimeSync && endDateSync) {
            helper_updateEnd(selectedDate + ' ' + document.querySelector('#end_time').value)
        }

    });
    document.querySelector('#end_time').addEventListener('change', function () {
        let selectedTime = this.value;
        endTimeSync = true;

        console.log('start_date selected date:', selectedTime);
        if (endDateSync && endTimeSync) {
            helper_updateEnd(document.querySelector('#end_date').value + ' ' + selectedTime)
        }
    });

    function helper_updateStart(dateTimeString) {
        const contestData = getContestFromLocalStorage();

        var dateTime = new Date(dateTimeString);
        //figure out offset
        contestData.startoffset = getISOOffsetString(dateTime);
        contestData.start = dateTime.toISOString();

        updateContestInLocalStorage(contestData);

    }

    function helper_updateEnd(dateTimeString) {
        const contestData = getContestFromLocalStorage();

        var dateTime = new Date(dateTimeString);
        //figure out offset
        contestData.stopoffset = getISOOffsetString(dateTime);
        contestData.stop = dateTime.toISOString();

        updateContestInLocalStorage(contestData);

    }

    // GAMES
    document.querySelector('#game_select_list').addEventListener('click', function (e) {
        const gameObj = {};
        if (e.target && e.target.nodeName === "TD") {
            const selectedDataContainer = document.getElementById('selected-data');
            const tr = e.target.closest('tr');


            // Get all table data cells (<td>) within the selected row
            const cells = tr.querySelectorAll('td');
            gameObj.name = cells[0].textContent;
            gameObj.year_published = parseInt(cells[1].textContent);
            gameObj.bgg_id = parseInt(cells[2].textContent);
            gameObj._id = cells[3].textContent;


            addGameToLocalStorage(gameObj)

            let listContent = "";
            for (const object of getContestFromLocalStorage().games) {
                // Access properties of each object
                const year = object.year_published;
                const name = object.name;
                const bgg_id = object.bgg_id;

                // Build the list item HTML (you can customize this)
                listContent += `-${name} (${year})<br>`;
            }

            selectedDataContainer.innerHTML = listContent;
        }

    })
    document.getElementById("clear_game_storage").addEventListener("click", function () {

        deleteGamesFromLocalStorage();
        document.getElementById('selected-data').innerHTML = getContestFromLocalStorage().games;
    });
    document.getElementById("lock_game_storage").addEventListener("click", function () {
        game_select_table = document.querySelector('#game_select_list')
        game_select_table.style.display = "none";
    });
    document.getElementById("game_search").addEventListener("click", function () {
        let game_select_table = document.querySelector('#game_select_list')
        game_select_table.style.display = "block";
    });

    // VENUE
    document.getElementById("lock_venue_storage").addEventListener("click", function () {
        let game_select_table = document.querySelector('#venue_select_list')
        game_select_table.style.display = "none";
    });
    document.getElementById("venue_search").addEventListener("click", function () {
        let game_select_table = document.querySelector('#venue_select_list')
        game_select_table.style.display = "block";
    });
    document.querySelector('#venue_select_list').addEventListener('click', function (e) {
        const venueObj = {};
        if (e.target && e.target.nodeName === "TD") {
            const selectedDataContainer = document.getElementById('venue_selected_data');
            const tr = e.target.closest('tr');

            // Get all table data cells (<td>) within the selected row
            const cells = tr.querySelectorAll('td');

            venueObj.address = cells[0].textContent;
            venueObj._id = cells[1].textContent;
            venueObj.place_id = cells[2].textContent;
            addVenueToLocalStorage(venueObj)

            visualVenue = getContestFromLocalStorage().venue;

            selectedDataContainer.innerHTML = visualVenue.address;
        }

    })


    // OUTCOMES
    setup_outcomes_num_players();
    function setup_outcomes_num_players() {
        const selectElement = document.querySelector("#num_players");
        for (let i = 2; i <= 10; i++) {
            const option = document.createElement("option");
            option.value = i;
            option.text = i + " player";
            selectElement.appendChild(option);
        }
    }

    document.getElementById("num_players").addEventListener("change", function () {
        let outcome_table_div = document.querySelector('#outcome_table_div')
        outcome_table_div.innerHTML = "";
        let num_players = document.querySelector('#num_players')

        let numCols = 3;
        let numRows = 0;
        if (num_players) {
            numRows = parseInt(num_players.value);
        }
        console.log("numRows " + numRows);

        // Create a new table element
        const table = document.createElement("table");
        table.id = "outcome_list";
        table.classList.add("col", "highlight", "striped");
        //table.style.width = "300px";
        table.style.overflowX = "scroll";
        table.style.overflowY = "scroll";

        const thead = document.createElement('thead');
        const headerRow = document.createElement('tr');

        // Create header cells
        const playerHeader = document.createElement('th');
        playerHeader.textContent = "Player Email";


        const placeHeader = document.createElement('th');
        placeHeader.textContent = "Place";


        const resultHeader = document.createElement('th');
        resultHeader.textContent = "Result";

        // Append headers to the row
        headerRow.appendChild(playerHeader);
        headerRow.appendChild(placeHeader);
        headerRow.appendChild(resultHeader);

        // Append row to the head
        thead.appendChild(headerRow);
        table.appendChild(thead);
        // Create the table body
        const tbody = document.createElement('tbody');
        tbody.id = "outcome_list_data";


        // Loop through the number of rows
        for (let i = 0; i < numRows; i++) {
            // Create a new table row element
            const row = document.createElement("tr");

            const player_search = document.createElement("td");

            const playerSearchInput = document.createElement("input");
            playerSearchInput.id = "player_search";
            playerSearchInput.name = "player_search";
            playerSearchInput.type = "text";
            playerSearchInput.setAttribute('hx-post', '/player/search');
            playerSearchInput.setAttribute('hx-target', '#outcome_popup');
            playerSearchInput.setAttribute('hx-trigger', 'keyup changed delay:500ms');

            player_search.appendChild(playerSearchInput);

            const player_place = document.createElement("td");
            const selectPlace = document.createElement("select");
            for (let i = 1; i <= numRows; i++) {
                const option = document.createElement("option");
                option.value = i;
                option.text = i;
                selectPlace.appendChild(option);
            }
            player_place.appendChild(selectPlace);

            const player_result = document.createElement("td");
            const selectResult = document.createElement("select");
            const optionWon = document.createElement("option");
            optionWon.value = "won";
            optionWon.text = "won";
            selectResult.appendChild(optionWon);
            const optionLost = document.createElement("option");
            optionLost.value = "lost";
            optionLost.text = "lost";
            selectResult.appendChild(optionLost);
            player_result.appendChild(selectResult);

            row.appendChild(player_search);
            row.appendChild(player_place);
            row.appendChild(player_result);

            // Append the row to the table
            tbody.appendChild(row);
        }
        // Append head and body to the table
        table.appendChild(thead);
        table.appendChild(tbody);
        outcome_table_div.appendChild(table);
        const selects = document.querySelectorAll('select');
        M.FormSelect.init(selects);

        // Initialize Materialize CSS on the new input
        M.updateTextFields();

        // Manually process the new element with htmx
        htmx.process(outcome_table_div);

    });


</script>

{{ end }}

{{ template "layout.html" . }}