main {
    padding-top:65px; /* Adjust this value based on your navbar height */
}



#buttons
.btn-extra-small {
    font-size: 0.6rem; /* Adjust the font size as needed */
    padding: 0.2rem 0.4rem; /* Adjust the padding as needed */
}
.btn.waves-effect.waves-light:active {
    background-color: purple;
}

.scrollable-table {
    height: 400px;
    overflow-y: auto;
}

.table-container {
    height: 400px;
    overflow-y: auto;
}
table.striped > tbody > tr.selected {
    background-color: #a5d6a7 !important;
}

.mini-button {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 2px;
    font-size: 0.7rem;
    text-transform: uppercase;
    background-color: #3f51b5; /* Adjust as needed */
    color: white;
    cursor: pointer;
}