<!-- <a href="/">Home</a>
<a hx-get="/player/login" hx-target="#login-modal">Login</a> -->

<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-info fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">STG</a>

        <ul class="navbar-nav me-auto mb-0 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            {{ if ne .User.Email "empty"}}
            <li class="nav-item">
                <a class="nav-link" href="contest">Contests</a>
            </li>
            {{ end }}
        </ul>
        <ul class="navbar-nav">
            {{ if eq .User.Email "empty"}}
            <button class="btn btn-primary me-1" hx-get="/player/login" hx-target="#login-modal"  type="button">Login
            </button>
            {{end}}
        </ul>

    </div>
</nav>
