
<div class="container">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card">
                <div class="card-content">
                    <span class="card-title center-align">Login</span>
                    <form hx-post="/player/auth" hx-target="#login-response"  >
                        <div class="col">
                            <div class="input-field col s12">
                                <input id="email" type="email" class="validate form-control" name="email" required>
                                <label for="email" placeholder="">Email</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="password" type="password" class="validate form-control" name="password" required>
                                <label for="password" placeholder="">Password</label>
                            </div>
                            <div class="col s12">
                                <button class="btn waves-effect waves-light" type="submit">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="login-response"></div>
                </div>
            </div>
        </div>
    </div>
</div>

